* {
    margin: 0px;
    padding: 0px;
}

.container {
    .header {
        background-image: url('https://img.freepik.com/free-photo/yellow-wall-texture-with-scratches_1249-77.jpg?ga=GA1.1.781771274.1726552238&semt=ais_hybrid');
        height: 150px;

        .navigation {
            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    list-style: none;
                    display: inline;
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: aquamarine;

                        &:hover {
                            color: brown;
                        }
                    }
                }
            }
        }
    }
}

.product {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    ul {

        li {
            list-style: none;

            .item {
                padding: 20px;
                width: 350px;
                height: 400px;
                background-color: aqua;
                margin: 10px;
                text-align: center;
                color: rgb(117, 83, 39);
                position: relative;
                &:hover {
                    color: brown;
                    background-color: black;
                }

                p {
                    font-size: medium;
                }
                img{
                    height: 200px;
                    width: 250px;
                }
                button{
                    position: absolute;
                    width: 390px;
                    height: 20px;
                    bottom: 0%;
                    left: 0%;
                    background-color: violet;
                    &:hover {
                        color: brown;
                        background-color: beige;
                    }

                }
            }
        }
    }
}
